/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav--current {
  position: relative;
  color: #2196f3;
}

.nav--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form__input, .form__comment, .subscription__input {
  outline: none;
}

.title-hide {
  display: none;
}

.logo {
  color: #212121;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

.logo--blue-text {
  color: #2196f3;
}

.blue-text:active {
  color: var(--blue-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  color: #212121;
  display: block;
  padding: 32px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link:active {
  color: #0000ff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-left: auto;
}

.contact__contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item:not(:first-child) {
  margin-left: 50px;
}

.contact__item {
  margin-left: auto;
}

.contact__contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__link {
  color: #757575;
  padding-left: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: #2196f3;
}

.contact__icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__section {
  background: #2f303a;
  text-align: center;
  padding-bottom: 280px;
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
}

.main__section .main__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}

.primary-button {
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover, .primary-button:focus {
  color: #ffffff;
  background-color: #188CE8;
}

.features,
.work {
  background-color: var(--white-color);
}

.features {
  padding: 94px 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: 270px;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
}

.features__title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.features__discription {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.work {
  margin-bottom: 94px;
}

.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.work .work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__link {
  cursor: pointer;
}

.work__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  padding: 28px 0;
}

.team {
  color: #212121;
  background-color: #f5f4fa;
  padding: 94px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__element {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
}

.teammate {
  margin-bottom: 10px;
}

.teammate__position {
  color: #757575;
}

.another-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-tab-size: 0;
    -o-tab-size: 0;
       tab-size: 0;
  padding: 16px 32px 0 32px;
}

.another__icon:not(:last-child) {
  margin-right: 10px;
}

.another__icon-object:hover,
.another__icon-object:focus {
  fill: #ffffff;
}

.another__network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.another__network-link:hover, .another__network-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.another__network-link:hover .another__icon-object,
.another__network-link:focus .another__icon-object {
  fill: #ffffff;
}

.clients {
  padding: 94px 0;
}

.clients__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client__item {
  display: block;
  fill: #afb1b8;
  padding: 12px 36px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__paragraph:hover .client__item,
.client__paragraph:focus .client__item {
  fill: #2196f3;
}

.client__item:hover, .client__item:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__inform {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__inform:hover, .footer__inform:focus {
  color: #2196f3;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo--blue-text {
  color: #2196f3;
}

.footer__maps {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__maps:focus, .footer__maps:hover {
  color: #2196f3;
}

.footer--white-text {
  color: #ffffff;
}

.join {
  margin-left: 70px;
}

.join__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 12px;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-tab-size: 0;
    -o-tab-size: 0;
       tab-size: 0;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}

.join__object {
  fill: #ffffff;
}

.subscription {
  margin: 12px 0 0 93px;
}

.subscription__title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

.subscription__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.subscription__input {
  margin-top: 20px;
  height: 50px;
  width: 358px;
  outline-offset: -2px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: #FFFFFF99;
  margin-right: 12px;
}

.subscription__primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription__icon {
  margin-left: 7px;
}

.subscription-text {
  color: #ffffff;
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  width: 528px;
  min-height: 581px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field__comment {
  position: relative;
  margin-bottom: 20px;
}

.form-field__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}

.form__label {
  display: block;
  color: #757575;
  margin-bottom: 4px;
}

.input-group-absolute {
  position: relative;
}

.input-group-absolute:focus-within > .form__svg,
.input-group-absolute:hover > .form__svg {
  fill: #2196f3;
}

.input-group-absolute:focus-within > .form__input,
.input-group-absolute:hover > .form__input {
  border-color: #2196f3;
}

.form__svg {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(12px, 11px);
          transform: translate(12px, 11px);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  width: 448px;
  height: 40px;
  padding: 11px;
  outline-offset: -2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
}

.form__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  outline-offset: -2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:focus-within, .form__comment:hover {
  border-color: #2196f3;
}

.mailing-label {
  display: block;
  color: #757575;
}

.mailing-label-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox-icon {
  color: #0000ff;
}

.form-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-checkbox__primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 7px;
}

.close-black {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px;
}

.close-svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg:hover, .close-svg:focus {
  fill: #2196f3;
}

.form-mailing {
  position: relative;
}

.portfolio-section {
  padding: 94px 0;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__paragraph:not(:first-child) {
  margin-left: 8px;
}

.portfolio__paragraph:hover, .portfolio__paragraph:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__button {
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  line-height: 1.63;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-list__element {
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__element:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list__element:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.portfolio-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__link:hover .portfolio-list__label,
.portfolio-list__link:focus .portfolio-list__label {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.overlow-hidden {
  overflow: hidden;
  position: relative;
}

.portfolio-list__label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;
}

.portfolio-list__content {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-list__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.portfolio-list__description {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

.portfolio-section {
  padding: 94px 0;
}
/*# sourceMappingURL=main.css.map */