/* цвет основного текста #212121 ; */
/* вторичный цвет СЕРЫЙ  #757575; */
/* белый #FFFFFF;    */
/* АКЦЕНТ СИНИЙ   #2196F3;*/
/* Серый цвет rgba(117, 117, 117, 1) */
/* Белый чисто для почты и тел в футере rgba(255, 255, 255, 0,6) */
/* втоичный цвет фона #F5F4FA; */

:root {
  --body-color: #2a2a2a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-color-footer: rgba(255, 255, 255, 0, 6);
  --grey-color: #757575;
  --main-color: #2f303a;
  --color-button: #188ce8;
  --color-section: #e5e5e5;
  --team-section: #f5f4fa;
  --footer-index: #2f303a;
  --header-color: #ececec;
  --red-color: #ff0000;
  --blue-color: #0000ff;
  --border-color: #eeeeee;
  --bgc-icon: rgba(255, 255, 255, 0.1);
  --border-clients: #afb1b8;
  --mailing-button: #188CE8 ;
  --placeholder-color : #FFFFFF99 ;
  --accent-color-secondary :  #188CE8;
}

/* ШАПКА ПРОФИЛЯ  */

/*  WebStudio */

body {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid var(--header-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex-align-center {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}
.flex-aling {
  display: flex;
  align-items: center;
}
.section-header {
  display: flex;
  justify-content: center;
}
.section-contact {
  display: flex;
}
.color-studio {
  color: var(--title-text-color);
}
/* END WebStudio */

/* SITE NAV/Навигация Сайта */
.nav-list {
  display: flex;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.item-header:not(:first-child) {
  margin-left: 50px;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav-link {
  position: relative;
  color: var(--title-text-color);
  display: block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link:active {
  color: var(--blue-color);
}

.link {
  text-decoration: none;
  cursor: pointer;
  }




/* Information/ Информация    */

.contact-list {
  display: flex;

  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  margin-left: auto;
}

.item-link:not(:first-child) {
  margin-left: 50px;
}
.item-link {
  margin-left: auto;
}

.contact-link {
  color: var(--grey-color);

  padding-left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.icon-inform {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .icon-inform,
.contact-link:focus .icon-inform {
  fill: var(--accent-color);
}

.inform {
  color: var(--grey-color);
}

/* Main   */

.main-section .main-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}

.primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color-secondary);
}

.main-section {
  background: var(--main-color);
  text-align: center;
  padding-bottom: 280px;
  padding: 200px 0;
}

/* ОСОБЕННОСТИ */
.section-features,
.work {
  background-color: var(--white-color);
}
.features-list {
  display: flex;
  justify-content: space-between;
}

.section-features {
  padding: 94px 0;
}

.featurs-list {
  display: flex;
  justify-content: space-between;
}

.featurs-item-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}
.featurs-item-discription {
  color: var(--grey-color);
  font-size: 14px;
  line-height: 1.71;
}
.featurs-item {
  width: 270px;
}
/* ЧЕМ МЫ ЗАНИМАЕМСЯ  */
.work {
  margin-bottom: 94px;
}
.work-link{
  cursor: pointer;
}
.work-item{
  position: relative;
}
.work .work-list {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

/* Team  */

.team {
  color: var(--title-text-color);
  background-color: var(--team-section);
  padding: 94px 0;

  display: flex;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.teammate {
  margin-bottom: 10px;
}
.teammate-position{
  color: var(--grey-color );
}
.portfolio-title {
  display: flex;
  flex-wrap: wrap;
}
.team-element {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
}
.portfolio-element {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-element:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}
.portfolio-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover  ,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}

.container-team {
  display: flex;
}
.portfolio-section {
  padding: 94px 0;
}

.portfolio-content {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}

/* footer */
.color-studio-footer {
  color: var(--white-color);
}

.logo {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}
.white-text {
  color: var(--white-color);
}

.blue-text {
  color: var(--accent-color);
}

.blue-text:active {
  color: var(--blue-color);
}

.link-to-maps {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.text-maps {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-maps:focus,
.text-maps:hover {
  color: var(--accent-color);
}

/* Button  */

.button {
  color: var(--title-text-color);
  background-color: var(--white-color);
}

.footer-section {
  background-color: var(--footer-index);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

/* PORTFOLIO */

/* FILTER  */
.title-hide {
  display: none;
}

.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.secondary-button {
  color: var(--title-text-color);
  background-color: var(--team-section);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  line-height: 1.63;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* LIST IMAGES /Список картинок  */

.portfolio-item-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.portfolio-paragraph {
  display: flex;
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) , border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-paragraph:not(:first-child) {
  margin-left: 8px;
}
.portfolio-paragraph:hover,
.portfolio-paragraph:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-section {
  padding: 94px 0;
}
.portfolio-item-description {
  color: var(--grey-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

/* footer */

.inform-footer {
  color: var(--white-color-footer);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inform-footer:hover,
.inform-footer:focus {
  color: var(--accent-color);
}

.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}



/* Button  */

.footer {
  background-color: var(--footer-index);

  padding: 60px 0;
}
.container-footer {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* background-icon */

.main-section {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
}

.clients {
  padding: 94px 0;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-object {
  fill: var(--white-color);
}

.icon-inform {
  margin: 0 10px 0 0;
  fill: var(--grey-color);
}

.join {
  margin-left: 70px;
}
.join-title {
  display: flex;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 12px;
}
.join-list {
  display: flex;
  tab-size: 0;
}
.network-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-icon);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link:hover,
.network-link:focus {
  background-color: var(--accent-color);
}

.icon-item:not(:last-child) {
  margin-right: 10px;
}

/* ANOTHER-ICON */
.another-list {
  display: flex;
  tab-size: 0;
}
.another-network-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
fill: var(--border-clients);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.another-network-link:hover,
.another-network-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);

}
.another-icon-object:hover,
.another-icon-object:focus {
  fill: var(--white-color);
}

.another-network-link:hover .another-icon-object,
.another-network-link:focus .another-icon-object {
  fill: var(--white-color);
}



.another-icon-item:not(:last-child) {
  margin-right: 10px;
}
.another-list {
  padding: 16px 32px 0 32px;
}


.client-paragraph:hover .icon-list-item,
.client-paragraph:focus .icon-list-item {
  fill: var(--accent-color);
}

.icon-list-item {
  display: block;
  fill: var(--border-clients);
  padding: 12px 36px;

  border-radius: 4px;
  border: 1px solid var(--border-clients);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-item:hover,
.icon-list-item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.icon-block {
  display: flex;
  width: 270px;
  justify-content: center;
  background: var(--team-section);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
}

/* 5 DZ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
z-index: 1;
  width: 100%;
  height: 100%;
opacity: 1;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%)  scale(0.9)   ;

}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
padding: 40px;
  background-color: var(--white-color);

  width: 528px;
  min-height: 581px;
transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
.close-black {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;

}

/* ХЕДЕР ЛИНИИ -НАЧАЛО  */
.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* ХЕДЕР ЛИНИИ -КОНЕЦ  */

/* ЧЕМ МЫ ЗАНИМАЕМСЯ  5ДЗ */
.label {
  display: flex;
  position: absolute;
  width: 100%;
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  padding: 28px 0;
}
/* .relative {
  position: relative;
} */

/* ПОРТФОЛИО 5 ДЗ */
.portfolio-label {
  position: absolute;
  display: flex;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)   , opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-label-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  padding: 63px 24px;
}

.portfolio-link:hover .portfolio-label,
.portfolio-link:focus .portfolio-label {
  transform: translateY(0);
  opacity: 1;
}
.overlow-hidden{
  overflow: hidden;
position: relative;
}

/* 6 ДОМАШНЕЕ ЗАДАНИЕ/FOOTER */


.subscription{

margin: 12px 0 0 93px;
}

.subscription-title{
 
  color: var(--white-color);
  font-size: 14px;
line-height: 1.14;



}

.subscription-input{
  margin-top: 20px;
  height: 50px;
  width: 358px;
  outline-offset: -2px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
padding-left: 16px;
color: #FFFFFF99;
margin-right: 12px;

}


.subscription-nav{
  display: flex;
  align-items: baseline;
}








.subscription-text{
  color: var(--white-color);
margin-right: 10px;
}


/* MODAL  */
.modal-text{
font-weight: bold ;
  font-size: 20px;
line-height: 1.15;
margin-bottom: 12px;
text-align: center;
}

.form-field{
  position: relative;
  margin-bottom: 10px;

}

.form-input{
  width: 448px;
  height: 40px;
 padding: 11px;
outline-offset: -2px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 42px;

}

.form-input , .form-comment , .subscription-input {
  outline: none;
}

.form-label{
display: flex;
  color: var(--grey-color);

margin-bottom: 4px;
}

.form-svg{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(12px , 11px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

}

.form-comment{
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  outline-offset: -2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment{
  position: relative;
margin-bottom: 20px;
  
}

.form-field-checkbox{
  display: flex;
  justify-content:center;
  align-items: baseline;
  margin-bottom: 30px;
}
.mailing-label{
  display: flex;
  color: var(--grey-color);
}

.mailing-label-link{
  text-decoration-line: underline;
  color: var(--accent-color);
}




.input-group-absolute:focus-within > .form-svg ,
.input-group-absolute:hover > .form-svg   {
fill: var(--accent-color);

}
.input-group-absolute:focus-within > .form-input ,
.input-group-absolute:hover > .form-input {
  border-color: var(--accent-color);
  
  }

.form-comment:focus-within ,
.form-comment:hover {
  border-color: var(--accent-color);

}

.form-mailing{
  position: relative;
}
.checkbox{
 appearance: none;
 display: flex;
 align-items: center;

}

.subscription-icon{
  margin-left: 7px;
}



.input-group-absolute{
  position: relative;

}
.form-checkbox-icon{
color: #0000ff;
}


.form-checkbox{

font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;
}

.checkbox-icon{
  display: flex;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)  , border 250ms cubic-bezier(0.4, 0, 0.2, 1)  ;
margin-right: 7px;

}

.checkbox:checked   +.checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-shadow {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
 justify-content: center;
  
}


.close-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.close-svg:hover ,
.close-svg:focus {
  fill: var(--accent-color);
}